@if $enabled-user-menu-tab == "true" {
  .user-menu.revamped {
    #quick-access-custom-profile {
      .custom-profile-tab-quick-links {
        li {
          flex: 1 1 auto;
          max-height: 3em; // prevent buttons from getting too tall
          > * {
            justify-content: flex-start;
            padding: 0.5em 0.25em;
            margin: 0;
            width: 100%;
  
            img.emoji {
              height: 1em;
              width: 1em;
              padding-top: 0.2em;
              margin-right: 0.5em;
            }
            .d-icon {
              padding-top: 0;
            }
            &.enabled .d-icon {
              color: var(--tertiary);
            }
          }
        }
    
        .set-user-status {
          .emoji {
            padding-top: 0;
          }
        }

        .profile-tab-btn {
          .relative-date {
            font-size: var(--font-down-3);
            color: var(--primary-medium);
          }
    
          justify-content: unset;
          line-height: var(--line-height-large);
          width: 100%;
    
          .d-icon {
            padding: 0;
          }
        }
    
        .do-not-disturb {
          .d-icon-toggle-on {
            color: var(--tertiary);
          }
        }
    
        hr {
          border-top: 1px solid var(--primary-low);
          width: 100%;
        }
      }
    }
  }
}
