@if $enabled-user-menu-tab == "true" {
  .user-menu.revamped {
    #quick-access-custom-profile {
      .custom-profile-tab-quick-links {
        flex-flow: column;
        overflow: auto;
        li {
          flex: 1 1 auto;
          max-height: 3em; // prevent buttons from getting too tall
          > * {
            padding: 0.5em 0.25em;
            margin: 0;
            align-items: center;
          }
          img.emoji {
            height: 1em;
            width: 1em;
            padding-top: 0.2em;
            margin-right: 0.5em;
          }
          .d-icon {
            padding-top: 0;
          }
          &.enabled .d-icon {
            color: var(--tertiary);
          }

          &.custom-preference-item {
            position: relative;
            margin-left: 1.5em;
            > * {
              font-size: var(--font-down-1);
            }
            // lines
            &:before {
              content: "";
              position: absolute;
              height: 100%;
              top: -50%;
              left: -0.75em;
              border-left: 1px solid var(--primary-medium);
            }
            &:after {
              content: "";
              position: absolute;
              width: 0.75em;
              left: -0.75em;
              top: 50%;
              border-top: 1px solid var(--primary-medium);
            }
            &:last-child {
              &:before {
                height: 50%;
              }
            }
          }
        }
    
        .set-user-status {
          .emoji {
            padding-top: 0;
          }
        }

        .profile-tab-btn {
          .relative-date {
            font-size: var(--font-down-3);
            color: var(--primary-medium);
          }
    
          justify-content: unset;
          line-height: var(--line-height-large);
          width: 100%;
    
          .d-icon {
            padding: 0;
          }
        }
    
        .do-not-disturb {
          .d-icon-toggle-on {
            color: var(--tertiary);
          }
        }
    
        hr {
          border-top: 1px solid var(--primary-low);
          width: 100%;
        }
      }
    }
  }
}
